* {box-sizing:border-box}
body {background-image: url("../pict/hardware.jpg"); background-repeat:no-repeat;background-size: cover;background-attachment: fixed;}
.header {display: flex; justify-content: space-around; width:100%}
.img_header_div {width:20%; border-radius:10%;background-color:rgba(255,255,0,0.6)}
.title_header{width:60%; background-color:rgba(255,255,0,0.6); padding-top:1rem;  box-shadow:3px 3px 3px black}
.img9et {width:100%; padding:10px; outline:3px solid black; border-radius:10%;}
h1 {text-align: center; color:brown; text-shadow: 3px 3px 3px black;font-weight:bolder; font-size:3.5em}
h2 {color:brown;}
nav {display:flex; flex-direction:row; justify-content:space-around; width:90%; margin-left:auto; margin-right: auto;padding:2em;background-color:rgba(255,255,0,0.6); margin-top:2em; box-shadow:3px 3px 3px black}

.wrapper {display: flex;
    flex-direction: row;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;}

p {padding:2em}

.inner_div{margin-right: 40px;
    text-align: justify;
    background-color:rgba(255,255,0,0.6);
    border-left:10px solid blue;
width: 30%;}

figure img {width:100%; background-color:rgba(255,255,0,0.6); box-shadow:5px 3px 8px black}
figcaption {text-align: center;font-size:1.5em; color:blue; margin-top:5px}
.wrapper {width:80%; flex-direction:row; display: flex; margin-left: auto; margin-right: auto; text-align: center;}
h1 {font-size: 2em;}
